

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  } //before, after
  &:after {
    clear: both;
  } //after
} //clearfix

@mixin linkStyle {
  text-decoration: none;
  display: inline-block;
  list-style-type:none;
}

@mixin backImage(
  $image,
  $grDir: to bottom,
  $opStart: 0,
  $opEnd: 0,
  $bgPos: center center
  ) {
  background: linear-gradient(
    $grDir,
    rgba(0,0,0, $opStart),
    rgba(0,0,0, $opEnd)
  ),url($image);
  background-repeat: no-repeat;
  background-position: $bgPos; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} //backImage

// background-color: white;
// background-image: url(logo.gif);
// background-position: 50% 50%;
// background-repeat: no-repeat;
// background-attachment: fixed;




@mixin box-sizing($value) {
-moz-box-sizing: $value;
box-sizing: $value;
}