@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);



// color palette 

$blue: #001CB8;
$purple: #753370;
$black: #000;
$white: #FFF;
$yellow: #D9A01F;
$light-yellow: #FFF537;
$border-color: #636366;


$fontfamily       : 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;


$xsmall: 320px;
$small: 400px;
$medium: 768px;
$large: 1024px;
