<div class="banner">
	<img src="../images/sequence12small.jpg" alt="">
</div>
<article class="product-catalog">
	<article class="product-list-item">
		<img src="../images/bcpot002_smaller.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/bcpot016_smaller.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/bcpot006_smaller.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/bcpot008_smaller.jpg" alt="">
	</article>
		<article class="product-list-item">
		<img src="../images/bcpot010_smaller.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/bcpot012_smaller.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/bcpot013_smaller.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/bcpot014_smaller.jpg" alt="">
	</article>
</article>