<div class="banner">
	<img src="../images/plates.jpg" alt="">
</div>
<article class="product-catalog">
	<article class="product-list-item">
		<img src="../images/prod2.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/prod3.jpg" alt="">
	</article>
	<article class="product-list-item last">
		<img src="../images/prod11.jpg" class="last-img" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/prod4.jpg" alt="">
	</article>
		<article class="product-list-item last">
		<img src="../images/prod5.jpg" class="last-img" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/prod6.jpg"  alt="">
	</article>
	<article class="product-list-item last">
		<img src="../images/prod7.jpg" class="last-img" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/prod8.jpg" alt="">
	</article>
		<article class="product-list-item">
		<img src="../images/prod10.jpg"  class="last-img" alt="">
	</article>
</article>