---
title: Bazaar Ceramics Contact Us
layout: layout
---
<h1>Contact Us</h1>
<p>See our orders section for making orders. If you have any other enquiries, please use the form below. We will respond to your request by the next working day.</p>

<h2>Mailing Address</h2>

<address>123 Main Street
City, ST 00000</address>

<h2>Hours of Operation</h2>

<p>Monday - Friday 09:00 a.m. - 06:00 p.m.</p>
<p>Closed Saturday and Sunday</p>

<form action="#">
	<label>Full Name: <input type="text" max-length="50"></label>
	<label>Email Address: <input type="email" max-length="30"></label>
	<label>Your Request<textarea name="comment" rows="3" columns="5"></textarea></label>
</form>

