---
title: Bazaar Ceramics
layout: layout
---

<article class="product-catalog">
<!-- 	<h2>Ceramics</h2> -->
	<article class="product-list-item">
		<img src="../images/prod11.jpg" alt="">
		<p>Free Shipping</p>
		<p>130$</p>
	</article>
	<article class="product-list-item">
		<img src="../images/prod5.jpg" alt="">
		<p>130$</p>
	</article>
	<article class="product-list-item last">
		<img src="../images/prod10.jpg" class="last-img" alt="">
		<p>130$</p>
	</article>
	<article class="product-list-item">
		<img src="../images/prod4.jpg" alt="">
		<p>130$</p>
	</article>
	<article class="product-list-item">
		<img src="../images/prod1.jpg" alt="">
		<p>130$</p>
	</article>
	<article class="product-list-item">
		<img src="../images/prod7.jpg" alt="">
		<p>130$</p>
	</article>
	<p class="button"><a href="ceramics.html">Shop Collectible Ceramics</a></p>
</article>

<article class="design-process">
	<h1><a href="custom-design.html">Learn About Our Design Process</a></h1>
</article>
<article class="creativity">
	<img src="../images/ban2.jpg" alt="">
	<section class="last">
	<h1>We Love Creativity!</h1>
	<p>Do you have custom design? <a href="">Order here.</a></p>
	</section>
</article>
