---
title: Bazaar Ceramics
layout: layout
---

<article class="product-catalog">
<!-- 	<h2>Ceramics</h2> -->
		<article class="product-list-item">
			<img src="../images/prod15.jpg" alt="">
			<p>Free Shipping</p>
			<p>130$</p>
		</article>
		<article class="product-list-item">
			<img src="../images/prod16.jpg" alt="">
		</article>
		<article class="product-list-item">
			<img src="../images/prod17.jpg" alt="">
		</article>
		<article class="product-list-item">
			<img src="../images/prod18.jpg" alt="">
		</article>
		<article class="product-list-item">
			<img src="../images/prod19.jpg" alt="">
		</article>
		<article class="product-list-item">
			<img src="../images/prod20.jpg" alt="">
		</article>
		<p class="button"><a href="ceramics.html">Shop Collectible Ceramics</a></p>
</article>

<article class="design-process">
	<h1><a href="custom-design.html">Learn About Our Design Process</a></h1>
</article>
<article class="creativity">
	<img src="../images/ban2.jpg" alt="">
	<section class="last">
	<h1>We Love Creativity!</h1>
	<p>Do you have custom design? <a href="">Order here.</a></p>
	</section>
</article>
