---
title: Bazaar Ceramics
layout: layout
---

<article class="product-catalog">
	<h2>Ceramics</h2>
	<article class="product-list-item">
		<img src="../images/bcpot002_smaller.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/bcpot003_smaller.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/bcpot006_smaller.jpg" alt="">
	</article>
	<article class="product-list-item">
		<img src="../images/bcpot008_smaller.jpg" alt="">
	</article>
	<p><a href="">Shop Collectible Ceramics</a></p>
</article>

<article>
	<h1>Design Process</h1>
	<p>The ceramic designers take regular trips to remote regions looking for inspiration from the natural environment, whether it is the outback or the wild coastlines. Back in the studio their sketches and photographs are worked up into designs, which complement the ceramic forms. The ceramic designers work closely with the gallery director, to ensure that not only is their work unique and contemporary, but is also responsive to the requirements of their clients.</p>
	<img src="../images/bazaar14.jpg" alt="">
	<a href="">Learn More</a>
</article>
<article>
	<h1>Custom Design Order</h1>
	<p>We are happy to make an article from your own specifications. Please provide clear details and a drawing of what you require</p>
	<a href="">Order Now</a>
</article>
